*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    min-height: 100vh;
    overflow-x: hidden;
    
}

.header_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;

}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.parallax{
    margin-top: -20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* background-image: url('Images/castle-2003867_1920.jpg') no-repeat;*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#castle, #people{
    height: 100%;
    object-fit:cover;
}

#p_text{
    position: absolute;
    font-size: 5em;
    color:darkslategray;
    text-shadow: 2px 4px 5px #333;
}

.sec_text{
    position: relative;
    background-color: darkslategray;
    color: white;
    font-size: 2rem;
}
/*
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;
    z-index: -1; 
}

.background{
    
}

.foreground{
    
}
*/